@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<RadzenDialog />
<div class="page">
    <div class="sidebar" style="background-color: indianred">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/" @onclick="(() => Logout())">Log out</a>
                    <a href="/profile">profile</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/">Log in</a>
                    <a href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}