<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="color: white">KOMORIS</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
@* https://blazor.radzen.com/dashboard *@
@* 아이콘 검색은 https://fonts.google.com/icons?selected=Material+Icons *@
<AuthorizeView>
    <Authorized>
        <RadzenPanelMenu Style="background-color: indianred">
            <RadzenPanelMenuItem Text="Rds" Icon="cloud" Path="rds"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Maintenance" Icon="engineering">
                <RadzenPanelMenuItem Text="Maintenance Schedule" Path="maintenance" Icon="schedule"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Server Url" Path="server_url" Icon="link"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Update Message" Path="update" Icon="update"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Config" Icon="settings">
                <RadzenPanelMenuItem Text="Server Variable" Path="server-variable" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Game Config" Path="game-config" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Client Option" Path="clientOption-option" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="TblAdminAcl" Path="admin-acl" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="업데이트 버전 설정" Path="UpdateVersionSetting" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="TblData" Path="tbl_data" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="TblServiceDenyCountry" Path="service_deny_country" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="ConstGameSpawnData" Path="const_game_spawnData" Icon="view_headline"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Util" Icon="hardware">
                <RadzenPanelMenuItem Text="Ranking" Path="ranking" Icon="show_chart"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Remove Duplicate Ranking" Path="duplicaterankremove" Icon="announcement"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Remove Different Nickname" Path="removediffnickname" Icon="announcement"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Mail" Path="mail" Icon="email"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Text Converter" Path="text-converter" Icon="trending_flat"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Refresh" Path="refresh" Icon="refresh"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="SearchUserData" Path="search_userdata" Icon="trending_flat"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="PatchServer" Icon="done_all" Path="patchserver"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Ec2 Manage" Icon="circle_notifications" Path="ec2_manage"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="ServerSetting" Path="server_setting" Icon="refresh"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="More">
                <RadzenPanelMenuItem Text="Item1"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Item2"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="More items">
                    <RadzenPanelMenuItem Text="More sub items">
                        <RadzenPanelMenuItem Text="Item1"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Item2"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </Authorized>
    <NotAuthorized>
        <RadzenPanelMenu Style="background-color: indianred">

        </RadzenPanelMenu>
    </NotAuthorized>
</AuthorizeView>
