<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="color: white">KOMORIS</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
@* https://blazor.radzen.com/dashboard *@
@* 아이콘 검색은 https://fonts.google.com/icons?selected=Material+Icons *@
<AuthorizeView>
    <Authorized>
        <RadzenPanelMenu Style="background-color: indianred">
            <RadzenPanelMenuItem Text="Reference Table" Icon="book">
                <RadzenPanelMenuItem Text="테이블 업로드" Icon="cloud" Path="upload_table"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="테이블 조회" Icon="zoom_in" Path="select_table"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="User" Icon="person">
                <RadzenPanelMenuItem Text="Account" Icon="person" Path="account"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Currency" Icon="copyright" Path="currency"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Season Pass" Icon="event" Path="seasonpass"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Mail" Icon="mail" Path="mail"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Guild" Icon="people" Path="guild"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Account" Icon="person">
                <RadzenPanelMenuItem Text="Black List" Icon="warning" Path="blacklist"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Account Linking" Icon="autorenew" Path="linking"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Guild" Icon="people">
                <RadzenPanelMenuItem Text="Guild Search" Icon="zoom_in" Path="guild_search"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Guild Log" Icon="zoom_in" Path="guild_log"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="로그 조회" Icon="zoom_in">
                <RadzenPanelMenuItem Text="유저 로그 조회" Icon="zoom_in" Path="user_log"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="운영툴 로그 조회" Icon="zoom_in" Path="admin_log"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Maintenance" Icon="engineering">
                <RadzenPanelMenuItem Text="Server Url" Path="server_url" Icon="home"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Maintenance Schedule" Path="maintenance" Icon="schedule"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Update Message" Path="update_message" Icon="announcement"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Update Version" Path="update_verision" Icon="view_headline"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Config" Icon="view_headline">
                <RadzenPanelMenuItem Text="Server Config" Path="server_config" Icon="settings"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Client Config" Path="client_config" Icon="settings"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="InGame Config" Path="ingame_config" Icon="settings"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="게임 서비스 관리" Icon="view_headline">
                <RadzenPanelMenuItem Text="이벤트 관리" Path="event" Icon="event"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="공지 관리" Path="notice" Icon="event"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Status" Icon="view_headline">
                <RadzenPanelMenuItem Text="Server Status" Path="server_status" Icon="settings"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="결제 관련" Icon="attach_money">
                <RadzenPanelMenuItem Text="결제 내역" Icon="view_headline" Path="payment_history"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="환불 내역" Icon="view_headline" Path="refund_history"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="환불 문의" Icon="view_headline" Path="refund_inquiry"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="실시간 지표" Icon="assessment">
                <RadzenPanelMenuItem Text="인게임 지표" Icon="view_headline">
                    <RadzenPanelMenuItem Text="Daily Active User" Path="dau"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Weekly Active User" Path="wau"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Monthly Active User" Path="mau"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Retention" Path="retention"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="New User" Path="nu"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="마케팅 지표" Icon="view_headline">
                    <RadzenPanelMenuItem Text="Paying User" Path="pu"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="ARPU" Path="arpu"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </Authorized>
    <NotAuthorized>
        <RadzenPanelMenu Style="background-color: indianred">

        </RadzenPanelMenu>
    </NotAuthorized>
</AuthorizeView>
