<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="color: white">KOMORIS</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
@* https://blazor.radzen.com/dashboard *@
@* 아이콘 검색은 https://fonts.google.com/icons?selected=Material+Icons *@
<AuthorizeView>
    <Authorized>
        <RadzenPanelMenu Style="background-color: indianred">
            <RadzenPanelMenuItem Text="User" Icon="person">
                <RadzenPanelMenuItem Text="Account" Icon="person" Path="account"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Currency" Icon="copyright" Path="currency"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Season Pass" Icon="event" Path="seasonpass"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Mail" Icon="mail" Path="mail"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Guild" Icon="people" Path="guild"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Account" Icon="person">
                <RadzenPanelMenuItem Text="Black List" Icon="warning" Path="blacklist"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Account Linking" Icon="autorenew" Path="linking"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Guild" Icon="people">
                <RadzenPanelMenuItem Text="Guild Search" Icon="zoom_in" Path="guild_search"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Guild Log" Icon="zoom_in" Path="guild_log"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Search Log" Icon="menu" Path="log"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Maintenance" Icon="engineering">
                <RadzenPanelMenuItem Text="Server Url" Path="server_url" Icon="home"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Maintenance Schedule" Path="maintenance" Icon="schedule"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Update Message" Path="update_message" Icon="announcement"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Update Version" Path="update_verision" Icon="view_headline"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Config" Icon="settings">
                <RadzenPanelMenuItem Text="Server Config" Path="server_config" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Client Config" Path="client_config" Icon="view_headline"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="InGame Config" Path="ingame_config" Icon="view_headline"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Indicators" Icon="assessment">
                <RadzenPanelMenuItem Text="InGame Indicators" Icon="view_headline">
                    <RadzenPanelMenuItem Text="Daily Active User" Path="dau"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="New User" Path="nu"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Marketing Indicators" Icon="view_headline">
                    <RadzenPanelMenuItem Text="Paying User" Path="pu"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </Authorized>
    <NotAuthorized>
        <RadzenPanelMenu Style="background-color: indianred">

        </RadzenPanelMenu>
    </NotAuthorized>
</AuthorizeView>
